<!DOCTYPE html>
<html ng-app="board">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<title>HDD Board Layout</title>
	<script src="libs/angular.js"></script>
	<script src="libs/angular-animate.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="layout.css">
	<script data-require="showdown@*" data-semver="0.3.1" src="libs/showdown.min.js"></script>
	<script src="moscore_ng/mosco.js"></script>
	<script src="script.js"></script>
	<script src="directives.js"></script>
	<script src="layout.js"></script>
	<style m-copy="font_faces">
		@font-face {
			font-family: SmallFonts;
			src:local("Small Fonts");
		}
		@font-face {
			font-family: Roboto;
			src:local("Roboto-Regular");
		}
	</style>

</head>
<body ng-controller="main" title="Click on scoreboard for settings" ng-class="params.size ? 'custom-size' : ''">
	<div class="board-layer" ng-style="{ width: params.size.x, height: params.size.y, 'font-size': params.size.font}"
			m-auto-scroll="params.size">
		<header data-hint="Static header for the whole page"></header>
		<div ng-click="settings.showPanels = !settings.showPanels">
			<div class="hide-board">
				<div m-image="board_image" styles="font_faces">
					<div class="board" ng-class="settings.styleClasses"
						ng-include="current_template()"
						ng-style="{'font-size': settings.fontSize, 'font-family':settings.fontFamily + ' sans-serif'}"></div>
				</div>
			</div>
			<div ng-if="settings.showBoard">
				<div styles="font_faces">
					<div class=board ng-class="settings.styleClasses"  ng-include="current_template()"
						ng-style="{'font-size': settings.fontSize, 'font-family':settings.fontFamily + ' sans-serif', zoom: settings.zoom}">
					</div>
				</div>
			</div>
		</div>
		<div ng-click="settings.showPanels = !settings.showPanels">
			<m-canvas ng-if="settings.showCanvas"
				zoom="settings.zoom"
				post="settings.screen && board_post_process"
				src="board_image" class="board-zoom"></m-canvas>
		</div>
	</div>
	<footer data-hint="Static footer for the whole page"></footer>
	<div class="graphic-layer" ng-if="flagGif() && settings.showFlags" no-animate>
		<img ng-src="{{ flagGif() }}" >
	</div>
	<div class="video-layer" ng-if="settings.showVideos.length || settings.showYoutubes.length" ng-click="playVideos($event)">
		<video autoplay loop ng-repeat="formats in videoUrls()">
			<source ng-repeat="format in formats" ng-src="{{ format.url}}" type="{{format.type}}">
		</video>
		<div class="youtube" ng-repeat="id in settings.showYoutubes">
			<iframe style="position: absolute;top:0;left:0;width:100%;height:100%"
				ng-src="{{ youtubeUrl(id) }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<!-- SETTINGS -->
	<div class="settings-overlay" ng-if="settings.showPanels">
		<button type="button" ng-click="settings.showPanels = false" ng-disabled="!settings.showCanvas && !settings.showBoard">Hide</button>
		<div>Zoom {{settings.zoom}}x
			<input type=range min=1 max=10 step="0.01" ng-model="settings.zoom">
		</div>
		<div>Font {{settings.fontSize}}
			<input type=range min=4 max=100 ng-model="settings.fontSizePt">
		</div>
		<button type="button" ng-click="resetSize()">Reset</button>
	</div>
	<div class="settings-layer" ng-if="settings.showPanels">
		<div class="panel-control">
			<label><input type="checkbox" ng-model="settings.showSettings">Display Settings</label>
			<label><input type="checkbox" ng-model="settings.showBoardControl">Show Board State</label>
		</div>
		<div class=panels>
			<dl ng-show="settings.showSettings">
				<dt>Font
					<dd><input type=text list=fonts ng-model="settings.fontFamily">
						<datalist id=fonts>
							<option ng-repeat="font in settings.fontList" value="{{font}}">
						</datalist>

				<dt>Style<dd><select multiple ng-options="styleClass as styleClass for styleClass in STYLE_CLASSES" ng-model="settings.styleClasses"></select>
				<dt><label for="settings_"
				<dt><label for="settings_showBoard">HTML</label>
					<dd><input id="settings_showBoard" ng-model="settings.showBoard" type="checkbox">
				<dt><label for="settings_showCanvas">Canvas</label>
					<dd><input id="settings_showCanvas" ng-model="settings.showCanvas" type="checkbox">
				<dt><label for="settings_screen">Screen<dd><input id="settings_screen" type="checkbox" ng-model="settings.screen">
				<dt>Video
					<dd><select multiple ng-options="video as video for video in VIDEOS.files" ng-model="settings.showVideos">
							<option value="">None</option>
						</select>
				<dt>Youtube
					<dd><select multiple ng-options="id as id for id in VIDEOS.youtubes" ng-model="settings.showYoutubes" multiple>
							<option value="">None</option>
						</select>
				<dt><label for="settings_showData">JSON Raw</label><dd>
					<input id="settings_showData" ng-model="settings.showData" type="checkbox">
				<dt><label for="settings_showReadme">Readme</label><dd>
					<input id="settings_showReadme" ng-model="settings.showReadme" type="checkbox">
				<dt><button type="button" ng-click="reset()">Reset</button><dd>
			</dl>
			<dl ng-show="settings.showBoardControl">
				<dt>Mode<dd>
					<select ng-options="val as mode for (mode, val) in MODE" ng-model="board.mode"></select>
				<dt ng-if="board.mode == MODE.RACE">State<dd ng-if="board.mode == MODE.RACE">
					<select ng-options="val as state for (state, val) in STATE"
									ng-model="board.state"></select>
				<dt ng-if="board.mode == MODE.RACE">Flag
					<dd>
						<select ng-options="val as flag for (flag, val) in FLAG"
										ng-model=board.flag></select>
				<dt>Laps<dd><input type=number ng-model=board.laps min=0 max=99>
				<dt>Lineup<dd><input type=text ng-model=board.lineup ng-list>
				<dt>Numbers<dd><input type=text ng-model=board.numbers>
				<dt>Race Order<dd><input type=text ng-model=board.raceOrder ng-list>
				<dt>Warmup<dd><input class="half" type=number ng-model="board.warmupTime" m-time-scale="m">
				<dt>Race Number<dd><input type=number ng-model=board.raceNumber>
				<dt>Race Type<dd><input type=text ng-model=board.raceType list=race-type>
				<datalist id=race-type><option ng-repeat="t in settings.raceTypes" value="{{t}}"></datalist>
				<dt>Race Class<dd><input type=text ng-model=board.raceClass list=race-class>
				<datalist id=race-class><option ng-repeat="c in settings.raceClasses" value="{{c}}"></datalist>
			</dl>
		</div>
		<div ng-if="settings.showData" class="json">{{board|json}}</div>
		<div class="error" ng-if="error">{{error|json}}</div>
		<div markdown ng-include="'README.md'" ng-if="settings.showPanels && settings.showReadme">
		</div>
	</div>
</body>
</html>
