/*=== user layout code ===*/
.board .doublespace div {
	margin: 1px 1px;
}
.board .wide {
	letter-spacing: 2px;
}

.board .lineup-top,
.board .race-top,
.board .flex-space-between,
.board .pre-race-bottom {
  display: flex;
  justify-content: space-between;
}

body:not(.custom-size) .board {
	width: 250px;
}
.board {
	height: auto;
}

.race-time {
	padding-left:0.25em;
}

body:not(.custom-size) .board-drivers {
	font-size: 25%;
	line-height: 100%
}

body.transparent-bg,
.board.transparent {
	background-color: transparent;
}

body.black-bg {
	background-color: black
}

.board.green {
	color: lime;
}

.board.white {
	color: white;
}

.board.halo {
	text-shadow: 0 0 .35em white;
}	

.board.shadow {
	text-shadow: 0.02em 0.02em .1em black;
}

.board.halo.shadow {
	text-shadow: 0.02em 0.02em .1em black, 0 0 .35em white;
}

header {
	font-size: 80%;
}

footer {
	position: absolute;
	left: 0;
	max-width: 75vw;
	bottom: 0;
}
