/*=== user layout code ===*/
.board .doublespace div {
	margin: 1px 1px;
}
.board .wide {
	letter-spacing: 2px;
}
.board .narrow {
	letter-spacing:-1px;
}
.board .lineup-top,
.board .race-top {
	display: flex;
	justify-content: space-between;
}


.board {
	width: 250px;
	height: auto;
}

.pre-race-bottom {
	display: flex;
	flex-direction: row;
}

.race-number {
	flex: 1
}

.race-time {
	padding-left:0.25em;
}

.error {
	color: lightsalmon;
}